{% extends "blog/base_generic.html" %}

{% block title %}<title>{{ title }}</title>{% endblock %}


{% block content %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: blue; height:240px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            {% if user_form.profile.photo %}
                                <img src="{{ user_form.profile.photo.url }}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="height:200px; width: 200px; z-index: 1">
                            {% else %}
                                {% load static %}
                                <img src="{% static 'images/profile/user.png' %}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="height:200px; width: 200px; z-index: 1">
                            {% endif %}
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ user_form.first_name }} {{ user_form.last_name }}</h5>
                            <h6>@{{ user_form.username }}</h6>
                            <p>{{ user_form.profile.location }}</p>
                        </div>
                    </div>
                    {% if user.username == user_form.username %}
                        <div class="p-4 text-black" style="background-color: #f8f9fa; height: 90px">
                            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark"
                                    style="z-index: 1;">
                                <a href="{% url 'update_profile' user_id=user_form.id %}" class="nav-link active">Редактировать</a>
                            </button>
                        </div>
                    {% endif %}
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    О себе:
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {% if user_form.profile.birth_date != None %}
                                        <p class="font-italic mb-1"><strong>Дата
                                            рождения: </strong> {{ user_form.profile.birth_date }}</p>
                                    {% endif %}
                                    {% if user_form.email != "" %}
                                        <p class="font-italic mb-1"><strong>E-mail: </strong> {{ user_form.email }}</p>
                                    {% endif %}
                                    {% if user_form.profile.bio != "" %}
                                        <p class="font-italic mb-1"><strong>Биография:</strong>
                                            <br>{{ user_form.profile.bio }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.username == user_form.username %}
        <h6 class="text-center mb-5">Красным отмечены статьи, которые в данный момент не опубликованы.</h6>
    {% endif %}
    <h1 class="text-center">Статьи пользователя {{ user_form.username }}:</h1>
    {% include "blog/_throw_articles.html" %}
{% endblock %}