{% extends "blog/base_generic.html" %}

{% block title %}<title>{{ title }}</title>{% endblock %}


{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
{#            <div class="form-group m-5 p-3">#}
{#                <div class="form-control m-4 p-4">#}
{#                    <label for="{{ user_form.username.id_for_label }}">Username: </label><br>#}
{#                    {{ user_form.username }}#}
{#                </div>#}
{#                <div class="invalid-feedback">#}
{#                    {{ user_form.username.errors }}#}
{#                </div>#}
{#                <div class="form-control m-4 p-4">#}
{#                    <label for="{{ user_form.first_name.id_for_label }}">Имя: </label><br>#}
{#                    {{ user_form.first_name }}#}
{#                </div>#}
{#                <div class="invalid-feedback">#}
{#                    {{ user_form.first_name.errors }}#}
{#                </div>#}
{#                <div class="form-control m-4 p-4">#}
{#                    <label for="{{ user_form.last_name.id_for_label }}">Фамилия: </label><br>#}
{#                    {{ user_form.last_name }}#}
{#                </div>#}
{#                <div class="invalid-feedback">#}
{#                    {{ user_form.last_name.errors }}#}
{#                </div>#}
{#                <div class="form-control m-4 p-4">#}
{#                    <label for="{{ user_form.email.id_for_label }}">E-mail: </label><br>#}
{#                    {{ user_form.email }}#}
{#                </div>#}
{#                <div class="invalid-feedback">#}
{#                    {{ user_form.email.errors }}#}
{#                </div>#}
{#                <div class="form-control m-4 p-4">#}
{#                    <label for="{{ user_form.bio.id_for_label }}">О себе: </label><br>#}
{#                    {{ profile_form.bio }}#}
{#                </div>#}
{#                <div class="invalid-feedback">#}
{#                    {{ profile_form.bio.errors }}#}
{#                </div>#}
{#                <div class="form-control m-4 p-4">#}
{#                    <label for="{{ profile_form.location.id_for_label }}">Город: </label><br>#}
{#                    {{ profile_form.location }}#}
{#                </div>#}
{#                <div class="invalid-feedback">#}
{#                    {{ profile_form.location.errors }}#}
{#                </div>#}
{#                <div class="form-control m-4 p-4">#}
{#                    <label for="{{ profile_form.birth_date.id_for_label }}">Дата рождения: </label><br>#}
{#                    {{ profile_form.birth_date }}#}
{#                </div>#}
{#                <div class="invalid-feedback">#}
{#                    {{ profile_form.birth_date.errors }}#}
{#                </div>#}
{#                <div class="form-control m-4 p-4">#}
{#                    <label for="{{ profile_form.photo.id_for_label }}">Фото: </label><br>#}
{#                    {{ profile_form.photo }}#}
{#                </div>#}
{#                <div class="invalid-feedback">#}
{#                    {{ profile_form.photo.errors }}#}
{#                </div>#}
{#            </div>#}
                {{ user_form.as_p }}
            <div class="form-row text-center">
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary">Изменить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}